/* General styles for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

/* Style for the main heading */
h1 {
    color: #BB86FC;
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* Style for the course description and lessons count */
p {
    margin-bottom: 20px;
    font-size: 20px;
}

/* Style for the unordered list of lessons */
ul {
    list-style-type: none;
    padding: 0;
}

/* Style for each list item */
ul li {
    background-color: #1F1B24;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Style for the lesson links */
ul li a {
    text-decoration: none;
    color: #03DAC6;
    font-size: 20px;
    display: block;
}

ul li span{
    color: #25de13;
    font-size: 20px;
    display: block;
}
/* Hover effect for list items */
ul li:hover {
    background-color: #333;
}

/* Hover effect for links */
ul li a:hover {
    color: #BB86FC;
}


.non-visible{
    display: none;
}
