
body {
    background-color: black;
    margin: 0;
    overflow: hidden;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.links {
    padding: 12px 24px;
    background-color: #d3490e;
    color: white;
    font-size: 3vh;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 10px;
    animation: fadeIn 3s ease forwards;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.links:hover {
    background-color: #621008;
}

.title {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-size: 6vh;
    color: #fff;
    opacity: 0;
    animation: fadeIn 3s ease forwards;
    margin-bottom: 20px;
    text-align: center;
}

.title span {
    color: #ffd700;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



@media screen and (max-width: 768px) {
    .links {
        font-size: 2.5vh;
    }

    .title {
        font-size: 5vh;
    }
}

@media screen and (max-width: 480px) {
    .links {
        font-size: 2vh;
    }

    .title {
        font-size: 4vh;
    }
}
