{% extends 'base.html' %}
{% block title %}
    Courses
{% endblock %}
{% block stylesheet %}
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" rel="stylesheet">
    <style>
        .course-container {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
        }
        .course {
            background-color: #343a40;
            padding: 40px;
            border-radius: 10px;
            text-align: center;
            width: 300px;
        }
        .course a {
            color: #ffffff;
            text-decoration: none;
            font-size: 2em;
        }
        .course p {
            margin-bottom: 10px;
        }
        .easy {
            color: #5e9447;
        }
        .medium {
            color: #d4d40d;
        }
        .hard {
            color: #d44b4b;
        }
        .status-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .progress-circle {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: conic-gradient(#5e9447 0%, #324927 0%);
            margin-right: 10px;
        }
        .status {
            padding-top: 5px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="course-container">
                    {% for course in courses %}
                        <div class="course">
                            <a href="{% url 'course-detail' pk=course.pk %}">{{ course.name }}</a>
                            <p class="{% if course.difficulty == 'Easy' %}easy{% elif course.difficulty == 'Medium' %}medium{% elif course.difficulty == 'Hard' %}hard{% endif %}">
                                {{ course.difficulty }}
                            </p>
                            <div class="status-container">
                                <div id="progress-circle-{{ course.pk }}" class="progress-circle"></div>
                                <p id="comp-uncomp-{{ course.pk }}" class="status"></p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let complessons;
            let completedUncompletedCounter;
            let progressCircle;
            let progression;
            {% for course in courses %}
                complessons = 0;
                {% for lesson in course.lesson_set.all %}
                    {% for key, value in if_completed.items %}
                        {% if key == lesson.pk %}
                            complessons++;
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                progression = ((complessons / {{ course.lesson_set.all.count }}) * 100).toFixed(0);
                completedUncompletedCounter = document.getElementById("comp-uncomp-{{ course.pk }}");
                completedUncompletedCounter.textContent = `${progression}% Completed`;
                progressCircle = document.getElementById('progress-circle-{{ course.pk }}');
                progressCircle.style.background = `conic-gradient(#324927 ${100 - progression}%, #5e9447 ${100 - progression}% 100%)`;
            {% endfor %}
        });
    </script>
{% endblock %}
