{% extends 'base.html' %}
{% block title %}
    {{ lesson.title }}
{% endblock %}
{% block stylesheet %}
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="text-white">{{ lesson.title }}</h1>
            <p class="text-white">{{ lesson.content }}</p>
            {% for sublesson in sublessons %}
                <h2 class="text-white">{{ sublesson.title }}</h2>
                <p class="text-white">{{ sublesson.content }}</p>
            {% endfor %}
            {% if completed %}
                <p class="text-success">This lesson is completed!</p>
            {% else %}
                <p class="text-danger">Uncompleted</p>
                <form method="post" action="{% url 'mark_lesson_complete' lesson.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Mark as Completed</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
