{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

    <title>Overview</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/coursesAndQuizes/overview.css' %}">
</head>
<body>
<div class="course-container">
    <a href="{% url 'courses' %}"><p class="count">Click here to see {{ courses_count }} more courses </p></a>
    {% for course in courses %}
        <a href="{% url 'course-detail' course.pk %}">{{ course.name }}</a>
    {% endfor %}
</div>
<div class="quiz-container">
    <a href="{% url 'quizes' %}"><p class="count">Click here to see {{ quizes_count }} more quizes</p></a>
    {% for quiz in quizes %}
        <a href="{% url 'quiz-detail' quiz.pk %}">{{ quiz.title }}</a>
    {% endfor %}
</div>
</body>
</html>