{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/coursesAndQuizes/quiz.css' %}">
    <title>Quiz</title>
</head>
<body>
<div class="container">
    <h1>{{ quiz.title }}</h1>
    <p>{{ quiz.description }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Start Quiz</button>
    </form>
</div>
</body>
</html>