{% extends 'base.html' %}
{% block title %}
    Quizes
{% endblock %}
{% block stylesheet %}
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" rel="stylesheet">
    <style>
        .quiz-container {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
            margin-top: 50px;
        }
        .quiz {
            background-color: #343a40;
            padding: 40px;
            border-radius: 10px;
            text-align: center;
            width: 300px;
        }
        .quiz a {
            color: #ffffff;
            text-decoration: none;
            font-size: 2em;
        }
        .quiz p {
            margin-bottom: 10px;
        }
        .easy {
            color: #5e9447;
        }
        .medium {
            color: #d4d40d;
        }
        .hard {
            color: #d44b4b;
        }
    </style>
{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="quiz-container">
                {% for quiz in quizes %}
                    <div class="quiz">
                        <a href="{% url 'quiz-detail' pk=quiz.pk %}">{{ quiz.title }}</a>
                        <p class="{% if quiz.difficulty == 'Easy' %}easy{% elif quiz.difficulty == 'Medium' %}medium{% elif quiz.difficulty == 'Hard' %}hard{% endif %} ">{{ quiz.difficulty }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
