{% extends 'base.html' %}
{% block title %}
    Quiz
{% endblock %}
{% load static %}
{% block stylesheet %}
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" rel="stylesheet">
    <style>

        .container {
            background-color: #343a40;
            padding: 30px;
            border-radius: 10px;
            width: 80%;
            margin: 0 auto;
            margin-top: 20px;
        }
        h1 {
            color: #5e9447;
            margin-bottom: 20px;
        }
        form {
            margin-top: 20px;
        }
        input[type="radio"] {
            margin-right: 10px;
        }
        label {
            color: #ffffff;
        }
        input[type="submit"] {
            background-color: #5e9447;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 10px;
        }
        input[type="submit"]:hover {
            background-color: #324927;
        }
        .error-message {
            margin-top: 20px;
            background-color: #ff6347;
            padding: 10px;
            border-radius: 5px;
        }
        .error-message p {
            color: #ffffff;
            margin: 0;
        }
    </style>
{% endblock %}
{% block body %}
<div class="container">
    <h1>{{ subquiz.question }}</h1>
    <form action="{% url 'vote' subquiz.quiz.pk subquiz.pk %}" method="post">
        {% csrf_token %}
        {% for answer in answers %}
            <input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}">
            <label for="answer{{ forloop.counter }}">{{ answer.answer }}</label><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
    {% if error_message %}
        <div class="error-message">
            <p><strong>{{ error_message }}</strong></p>
        </div>
    {% endif %}

    <script type="text/javascript">
        window.history.pushState(null, "", window.location.href);
        window.onpopstate = function() {
            window.history.pushState(null, "", window.location.href);
            alert("Back navigation is disabled during the quiz.");
        };
    </script>
</div>
{% endblock %}
