{% extends 'base.html' %}
{% block title %}
	Quiz
{% endblock %}
{% load static %}
{% block stylesheet %}
	<link rel="stylesheet" href="{% static 'css/coursesAndQuizes/subquiz.css' %}">
{% endblock %}
{% block body %}
<div class="container">
    <h1>{{ subquiz.question }}</h1>
    <form action="{% url 'vote' subquiz.quiz.pk subquiz.pk %}" method="post">
        {% csrf_token %}
        {% for answer in answers %}
            <input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}">
            <label for="answer{{ forloop.counter }}">{{ answer.answer }}</label><br>
        {% endfor %}
        <input type="submit" value="Submit">
    </form>
</div>
    {% if error_message %}
        <div class="error-message">
            <p><strong>{{ error_message }}</strong></p>
        </div>
    {% endif %}
{% endblock %}
