{% extends 'base.html' %}
{% load static %}
{% block title %}
    Login Page
{% endblock %}
{% block stylesheet %}
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css" rel="stylesheet">
    <style>
        .container{
            text-align: center;
        }
        .navbar{
            display: none;
        }
    </style>
{% endblock %}
{% block body %}
    <form class="container" method="post" autocomplete="off">
        {% csrf_token %}
        {{ loginform.as_p }}
        <input class="login-button" type="submit" value="Login"/>
    </form>
{% endblock %}
